<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Mapper.order_detailMapper">
    <insert id="setOrder" parameterType="com.example.demo.pojo.Order_detail">
        insert into order_detail (detail_id,order_id,goods_name,goods_price,goods_quantity) value (#{detail_id},#{order_id},#{goods_name},#{goods_price},#{goods_quantity});
    </insert>
</mapper>